<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Revisão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input [(ngModel)]="n1" label="Primeiro Número" labelPlacement="floating" placeholder="Digite o primeiro valor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="n2" label="Segundo Número" labelPlacement="floating" placeholder="Digite o segundo valor"></ion-input>
  </ion-item>

  <ion-button fill="clear" (click)="somar()">Somar</ion-button><br>
  <ion-button fill="clear" (click)="subtrair()">Subtrair</ion-button><br>
  <ion-button fill="clear" (click)="multiplicar()">Multiplicar</ion-button><br>
  <ion-button fill="clear" (click)="dividir()">Dividir</ion-button><br>
  <ion-label>{{res}}</ion-label>
</ion-content>
